* {
  margin: 0;
  box-sizing: border-box;
}

html {
  --border: hsl(200, 10%, 30%);
  --text: hsl(200, 10%, 25%);
  --bg: hsl(200, 10%, 98%);
  --danger-bg: hsl(0, 75%, 80%);
  --danger-fg: hsl(0, 75%, 25%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  color: var(--text);
  background-color: var(--bg);
}

button {
  border: 0;
  font: inherit;
  background: none;
  padding: 0.5rem;
  font-weight: bold;
  vertical-align: middle;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  object-fit: cover;
}

#app {
  margin: 0 auto;
  padding: 1.5rem;
  padding: clamp(1.5rem, 1.5rem + 6vw, 8rem);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}

.dog {
  display: grid;
  gap: 0.5rem;
  align-content: start;
}
.notify {
  /* position relative to the viewport */
  position: fixed;
  /* as wide as its content requires */
  width: max-content;
  /* 2rem from the bottom of the viewport */
  bottom: 2rem;
  left: 0;
  right: 0;
  /* centered */
  margin: 0 auto;

  /* make it pretty, not required */
  padding: 1rem 2rem;
  box-shadow: 0 2px 2px hsla(200, 10%, 20%, 0.4),
    0 6px 16px -2px hsla(200, 10%, 20%, 0.4);
  border-radius: 0.125rem;
  background-color: var(--bg);
  /* initially slide it down off screen by its height + 2rem (the distance from the bottom) */
  transform: translateY(calc(100% + 2rem));
  /* this animates any changes to the translate */
  transition: transform 0.3s;
}

.notify.active {
  transform: translateY(0);
}
